<div ng-controller="conCtrl">
    <div class="row">
        <div class="progressbar">
            <div class="col-xs-9 col-md-10">
                <div class="slider img-rounded" id="progressbar">
                    <div class="loaded" id='loadedprogress'></div>
                    <div class="pace" id="currentprogress"></div>
                </div>
            </div>
            <div class="col-xs-3 col-md-2">
                <div class="timer" id='info'>{{changeTime(time)}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-md-3">
            <h3 id='title' class="text-nowrap">{{title}}</h3>
            <h5 id="artist" class="text-nowrap">{{artist}}</h5>
        </div>
        <div class="col-xs-8 col-md-5">
            <div class="control">
                <img id="previewsong" src="./images/rewind.png" alt="" ng-click="prevSong()">
                <img id="playpaush" src="./images/{{pause_play}}" alt="" ng-click="playorpause()">
                <img id="nextsong" src="./images/fastforward.png" alt="" ng-click="nextSong()">
                <!--<img id="single" src="images/single.png" alt="" class="pull-right">-->
                <!--<img id="download" src="./images/download.png" alt="" class="pull-right">-->
            </div>
        </div>
        <div class="col-md-4 hidden-xs hidden-sm volume">
            <div class="row">
                <div class="col-xs-1">
                    <img id="mute" src="./images/{{mutepng}}" alt="" ng-click="silence()">
                </div>
                <div class="col-xs-10">
                    <div class="slider img-rounded" id="volumebar">
                        <div class="pace" id="currentvolumebar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>