<div class="row" id="songList" auto-resize ng-style="resizeWithOffset(180)">
  <ul class="list-group" dnd-list="songList">
    <li class="row"
        ng-repeat="item in songList"
        dnd-draggable="item"
        dnd-moved="dragMoved(event, $index)"
        dnd-effect-allowed="move"
        ng-click="playSong(item)"
        ng-class-odd="'odd'"
        ng-class-even="'even'"
        ng-mouseenter="options=true"
        ng-mouseleave="options=false"
        ng-class="{playing: $index === currentIndex}">
      <div class="col-xs-2  text-nowrap">
        <span class="badge">{{musicTypes[item.type]}}</span>
      </div>
      <div class="col-xs-6 text-nowrap" title="{{item.song}}">{{item.song}}</div>
      <div class="col-xs-2 text-nowrap" title="{{item.singer}}">{{item.singer}}</div>
      <div ng-show="options" class="col-sm-2 text-nowrap" ng-click="deleteSong(item); $event.stopPropagation();">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </div>
    </li>
  </ul>
</div>
<hr>