<!DOCTYPE html>
<html ng-app="shangAngularTemplate">
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <base href="/">
  <link rel="shortcut icon" href="http://upload.xinshangshangxin.com/o_19pbo74ug1egh1d4tt818hb14b49.ico">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>
<div class="notification-bar" notification-bar></div>
<div class="container">
  <div ui-view></div>
</div>

<!-- inject:js -->
<!-- endinject -->
</body>
</html>