<!DOCTYPE html>
<html ng-app="musicPlayer">
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Music Player</title>
  <base href="/">
  <link rel="shortcut icon" href="//static.xinshangshangxin.com/favicon.ico">
  <!-- inject:css -->
  <link rel="stylesheet" href="/framework/paper/dist/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/angular-loading-bar/build/loading-bar.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/videogular-themes-default/videogular.min.css">
  <link rel="stylesheet" href="/styles/variables.css">
  <link rel="stylesheet" href="/styles/lrc/lrc.css">
  <link rel="stylesheet" href="/styles/notification/notification-bar.css">
  <!-- endinject -->
</head>
<body>
  <div ng-if="!initialingServiceCount" class="notification-bar" notification-bar></div>
  <div ng-if="!initialingServiceCount" class="container">
    <div ui-view></div>
  </div>

  <!-- inject:js -->
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/vendor/angular-animate/angular-animate.min.js"></script>
  <script src="/vendor/angular-resource/angular-resource.min.js"></script>
  <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/vendor/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="/vendor/angular-translate/angular-translate.min.js"></script>
  <script src="/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="/vendor/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
  <script src="/vendor/videogular/videogular.min.js"></script>
  <script src="/vendor/videogular-controls/vg-controls.min.js"></script>
  <script src="/vendor/lodash/dist/lodash.min.js"></script>
  <script src="/app.js"></script>
  <script src="/common/common.js"></script>
  <script src="/common/avoid-multiple-click/avoid-multiple-click-drtv.js"></script>
  <script src="/common/custom-fields/custom-fields-drtv.js"></script>
  <script src="/common/dialog/dialog-svc.js"></script>
  <script src="/common/http-injector/http-injector-factory.js"></script>
  <script src="/common/local-save/local-save-service.js"></script>
  <script src="/common/lrc/lrc-directive.js"></script>
  <script src="/common/notification/notification-bar-drtv.js"></script>
  <script src="/common/notification/notification-service.js"></script>
  <script src="/common/resize/resize-drvt.js"></script>
  <script src="/components/constants.js"></script>
  <script src="/components/entities-factory.js"></script>
  <script src="/components/services/playListService.js"></script>
  <script src="/home/home-controller.js"></script>
  <script src="/home/home-routes.js"></script>
  <script src="/play-info/play-controller.js"></script>
  <script src="/play-info/play-info-routes.js"></script>
  <script src="/search/search-controller.js"></script>
  <script src="/search/search-routes.js"></script>
  <script src="/webhook/webhook-detail-ctrl.js"></script>
  <script src="/webhook/webhook-routes.js"></script>
  <script src="/webhook/webhooks-ctrl.js"></script>
  <!-- endinject -->
</body>
</html>
