<hr>
<div class="row search">
  <div class="col-sm-10 form-group">
    <input ng-keydown="keyChange($event)" ng-model="key" type="text" class="form-control" placeholder="回车搜索">
  </div>
  <div class="col-sm-2">
    <button class="btn btn-success" ui-sref="^.play.detail">返回</button>
  </div>
</div>
<div class="row" id="songList" auto-resize ng-style="resizeWithOffset(172)">
  <ul>
    <hr>
    <li ng-repeat="item in songList track by $index"
        ng-mouseenter="options=true"
        ng-mouseleave="options=false"
    >
      <div class="row">
        <div class="col-sm-10" ng-click="playSong(item)">
          <div class="col-sm-9 text-nowrap" title="{{item.song}}">
            <span class="badge">{{musicTypes[item.type]}}</span>
            {{item.song}}
            <span class="pull-right" ng-if="!isElectron() && options">
              <a ng-click="$event.stopPropagation();" ng-href="{{item.url}}" download="{{item.song}}-{{item.singer}}.mp3">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </span>
          </div>
          <div class="col-sm-3 text-nowrap" title="{{item.singer}}">{{item.singer}}</div>
        </div>
        <div class="col-sm-2">
          <span ng-click="addAndPlay(item)">
            <i class="fa fa-play-circle-o" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>
<hr>
