<hr>
<div class="row search">
  <div class="col-sm-10 form-group">
    <input ng-keydown="keyChange($event)" ng-model="key" type="text" class="form-control" placeholder="回车搜索">
  </div>
  <div class="col-sm-2">
    <button class="btn btn-success" ui-sref="^.play.detail">返回</button>
  </div>
</div>
<div class="row" id="songList" auto-resize ng-style="resizeWithOffset(172)">
  <ul>
    <hr>
    <li ng-repeat="item in songList track by $index">
      <div class="row">
        <div class="col-sm-8" ng-click="playSong(item)">
          <div class="col-sm-9 text-nowrap" title="{{item.song}}">
            <span class="badge">{{musicTypes[item.type]}}</span>
            {{item.song}}
          </div>
          <div class="col-sm-3 text-nowrap" title="{{item.singer}}">{{item.singer}}</div>
        </div>
        <div class="col-sm-4" ng-click="addAndPlay(item)">
          <!--<span>播放&nbsp;</span>-->
          <!--<span>添加&nbsp;</span>-->
          <span>添加并播放&nbsp;</span>
          <!--<span>下载</span>-->
        </div>
      </div>
    </li>
  </ul>
</div>
<hr>
